@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700&display=swap&subset=latin-ext");
@import '~reset.css';
body {
  background-color: white;
  font-family: "Open Sans";
}

header#hd {
  width: 100%;
  height: 950px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
header#hd .headerimg {
  width: 48%;
  height: 100%;
  background: white url("../assets/assets/Home-Hero-Image.jpg") right top;
}
header#hd .info {
  width: 48%;
  height: 100%;
  background: white;
}

div.frstnav {
  height: 50px;
  font-size: 16px;
  text-align: right;
  background: white;
  padding: 20px;
}
div.frstnav a {
  text-decoration: none;
  padding: 10px;
  color: gray;
}
div.frstnav a:hover {
  border: 1px solid yellow;
}

div.mojdiv {
  margin-top: 15px;
}

div.secnav {
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
div.secnav a {
  font-family: "Open Sans";
  font-size: 20px;
  color: rgba(1, 5, 36, 0.67);
  text-decoration: none;
  padding: 10px;
}

div.desc {
  text-align: center;
  font-family: "Open Sans";
  padding-top: 300px;
  color: gray;
  font-size: 35px;
  line-height: 1.5;
}

div.img1 {
  background-image: url("../assets/assets/Decoration.svg");
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 50px;
}

.btns {
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  width: 700px;
  position: absolute;
  z-index: 100;
  top: 600px;
  left: 57%;
  margin-top: 50px;
}
.btns a {
  font-size: 35px;
  text-transform: uppercase;
  display: block;
  width: 250px;
  text-align: center;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid gray;
  text-decoration: none;
  color: gray;
}
.btns a:hover {
  border: black 1px solid;
}

div.tc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 100%;
  background-color: #FAD648;
  background-image: url("../assets/assets/material.jpg");
  color: #5E5322;
  font-family: "Open Sans";
  margin-bottom: 30px;
}
div.tc div.fc {
  text-align: center;
  width: 25%;
}
div.tc div.fc h1 {
  font-size: 70px;
  margin-bottom: 30px;
}
div.tc div.fc h2 {
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
div.tc div.fc p {
  font-size: 18px;
  line-height: 1.5;
}

div.onas {
  height: 800px;
  width: 100%;
  background-color: #F0F1F1;
  display: flex;
}
div.onas div.onasr {
  width: 50%;
  background-image: url("../assets/assets/People.jpg");
}
div.onas div.onasl {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.onas div.onasl div.onasd {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  color: #3C3C3C;
}
div.onas div.onasl div.onasd h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
div.onas div.onasl div.onasd .imgo {
  background-image: url("../assets/assets/Decoration.svg");
  width: 250px;
  height: 33px;
  margin-bottom: 50px;
}
div.onas div.onasl div.onasd p {
  font-size: 30px;
  line-height: 1.5;
  margin-left: 100px;
  margin-right: 100px;
}
div.onas div.onasl div.imga {
  height: 150px;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 620px;
  background-image: url("../assets/assets/Signature.svg");
  background-repeat: no-repeat;
}

div.foursteps {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}
div.foursteps div.deco {
  width: 250px;
  height: 50px;
  background-image: url("../assets/assets/Decoration.svg");
  background-repeat: no-repeat;
  margin-top: 30px;
}
div.foursteps .step1 {
  width: 100%;
  height: 25%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3C3C3C;
  font-size: 35px;
}
div.foursteps .step2 {
  width: 100%;
  height: 50%;
  background: #F0F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.foursteps .step2 .cont {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #737373;
  font-family: "Open Sans";
}
div.foursteps .step2 .cont .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
}
div.foursteps .step2 .cont .part h1 {
  font-size: 20px;
}
div.foursteps .step2 .cont .part h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 15px;
  border-bottom: 2px solid #737373;
}
div.foursteps .step2 .cont .part p {
  margin-top: 15px;
  font-size: 16px;
}
div.foursteps #p0 div.svg {
  background-image: url("../assets/assets/Icon-1.svg");
  height: 100px;
  width: 75px;
  background-repeat: no-repeat;
}
div.foursteps #p1 div.svg {
  background-image: url("../assets/assets/Icon-2.svg");
  height: 100px;
  width: 75px;
  background-repeat: no-repeat;
}
div.foursteps #p2 div.svg {
  background-image: url("../assets/assets/Icon-3.svg");
  height: 100px;
  width: 75px;
  background-repeat: no-repeat;
}
div.foursteps #p3 div.svg {
  background-image: url("../assets/assets/Icon-4.svg");
  height: 100px;
  width: 75px;
  background-repeat: no-repeat;
}
div.foursteps .step3 {
  width: 100%;
  height: 25%;
  background: white;
  position: relative;
}
div.foursteps .step3 .btns {
  position: absolute;
  top: -20px;
  left: 600px;
}

.contact {
  height: 1000px;
  width: 100%;
  display: flex;
}
.contact .contl {
  width: 60%;
  height: 100%;
  background-image: url("../assets/assets/Background-Contact-Form.jpg");
  opacity: 0.1;
}
.contact .contr {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  background-color: rgba(1, 5, 36, 0.01);
}
.contact .contr div.deco {
  width: 250px;
  height: 50px;
  background-image: url("../assets/assets/Decoration.svg");
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact .contr h2 {
  font-size: 30px;
  color: #3C3C3C;
}
.contact .contr .form1 {
  width: 100%;
  display: flex;
  text-align: right;
  flex-direction: column;
  font-family: "Open Sans";
}
.contact .contr .form1 .part1 {
  display: flex;
}
.contact .contr .form1 .part2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}
.contact .contr .form1 h1 {
  text-align: left;
  font-weight: bold;
  color: #737373;
}
.contact .contr .form1 input {
  border-left: none;
  border-right: none;
  border-top: none;
  margin-right: 20px;
  width: 240px;
  font-size: 18px;
  background-color: rgba(1, 5, 36, 0.01);
}
.contact .contr .form1 input::placeholder {
  color: #737373;
}
.contact .contr .form1 textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: rgba(1, 5, 36, 0.01);
}
.contact .contr textarea::placeholder {
  color: #737373;
  font-size: 16px;
}
.contact .contr .buttoncont {
  margin-top: 30px;
}
.contact .contr .buttoncont button {
  width: 200px;
  height: 50px;
  position: relative;
  background-color: rgba(1, 5, 36, 0.01);
  border: 1px solid #737373;
  color: #737373;
  font-size: 20px;
}

footer.ftr {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
}

.logoutcont,
.logincont,
.registrycont {
  height: 500px;
  width: 1900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutcont .logout,
.logoutcont .login,
.logincont .logout,
.logincont .login,
.registrycont .logout,
.registrycont .login {
  height: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  color: #3C3C3C;
  text-align: center;
}
.logoutcont .logout h1,
.logoutcont .login h1,
.logincont .logout h1,
.logincont .login h1,
.registrycont .logout h1,
.registrycont .login h1 {
  font-size: 40px;
}
.logoutcont .logout .deco,
.logoutcont .login .deco,
.logincont .logout .deco,
.logincont .login .deco,
.registrycont .logout .deco,
.registrycont .login .deco {
  width: 250px;
  height: 50px;
  background-image: url("../assets/assets/Decoration.svg");
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 40px;
}
.logoutcont .logout a,
.logoutcont .login a,
.logincont .logout a,
.logincont .login a,
.registrycont .logout a,
.registrycont .login a {
  border: 1px solid #737373;
  padding: 20px;
}
.logoutcont .logout a:hover,
.logoutcont .login a:hover,
.logincont .logout a:hover,
.logincont .login a:hover,
.registrycont .logout a:hover,
.registrycont .login a:hover {
  border: 1px solid #3C3C3C;
}
.logoutcont .logout .pages,
.logoutcont .login .pages,
.logincont .logout .pages,
.logincont .login .pages,
.registrycont .logout .pages,
.registrycont .login .pages {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.logoutcont .logout .pages input,
.logoutcont .login .pages input,
.logincont .logout .pages input,
.logincont .login .pages input,
.registrycont .logout .pages input,
.registrycont .login .pages input {
  background: white;
  border: 1px solid #737373;
  padding: 20px;
  color: gray;
  font-family: "Open Sans";
  font-size: 16px;
}
.logoutcont .logout .pages input:hover,
.logoutcont .login .pages input:hover,
.logincont .logout .pages input:hover,
.logincont .login .pages input:hover,
.registrycont .logout .pages input:hover,
.registrycont .login .pages input:hover {
  border: 1px solid #3C3C3C;
}

div.logincont,
div.registrycont {
  height: 800px;
}
div.logincont a,
div.registrycont a {
  border: none;
}
div.logincont a:hover,
div.registrycont a:hover {
  border: 1px #737373 solid;
}

.logform {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  font-family: "Open Sans";
  align-items: center;
}
.logform form {
  height: 270px;
  width: 400px;
  background-color: #F0F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.logform form label {
  padding-top: 30px;
  font-weight: bold;
}
.logform form input {
  margin-top: 20px;
  background-color: #F0F1F1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #737373;
  font-size: 18px;
  width: 100%;
}

.registrycont .logform {
  height: 450px;
}
.registrycont .logform form {
  height: 400px;
}

.check {
  font-family: "Open Sans";
  color: red;
  padding-top: 12px;
  font-weight: bold;
  font-size: 14px;
}

div.whcont {
  width: 100%;
  height: 900px;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #3C3C3C;
  font-size: 40px;
}
div.whcont .deco {
  width: 250px;
  height: 50px;
  background-image: url("../assets/assets/Decoration.svg");
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 40px;
}
div.whcont .buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
div.whcont .buttons button {
  background-color: white;
  border: none;
  font-size: 22px;
  color: #737373;
  width: 200px;
  padding: 15px;
}
div.whcont .buttons button:focus {
  outline-color: gray;
}
div.whcont .bigcontain {
  width: 70%;
  height: 600px;
}
div.whcont .zzz {
  background-color: #09d3ac;
  height: 100px;
  width: 100px;
}

div.navbar ul {
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
div.navbar ul li {
  font-family: "Open Sans";
  font-size: 20px;
  color: rgba(1, 5, 36, 0.67);
  text-decoration: none;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
